Source: devel-metapackage
Section: devel
Priority: optional
Maintainer: Scorpion
Build-Depends: debhelper-compat (= 13)
Package: devel-metapackage
Version: 1.0.0
Architecture: amd64
Depends: cuda-toolkit-12-8, intel-oneapi-ipp-2021.1.1, libuhd-dev (>= 4.1.0.1), libboost-all-dev (>= 1.71.0), gcc (>= 10.2.0), cmake (>= 3.18), make, libusb-dev, rapidjson-dev, libssl-dev
APT-Sources: ...
Description: devel-metapackage ...
